/* overrides for the brand.css file */
body {
  background: url('../images/bk.gif') repeat 50%;
  font-family: "Frutiger", "Univers", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 75%;
  line-height: 1.5;
}
h1,h2,h3,h4,h5,h6 {
	color: #0077C0;
  font-family: "Frutiger", "Univers", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
a {
	color: #0077C0;
}
/* omega overrides */
a:link, a:visited {
    text-decoration: none;
}
.block {
	margin-bottom: 0;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
#comments h2.comments, .block > div > h2 {
    background: none repeat scroll 0 0 #FFFFFF;
}
textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
    font-size: 100%;
}
button, input[type="reset"], input[type="submit"], input[type="button"] {
    -moz-border-radius: 0;
}
.item-list ol li {
    list-style: decimal;
}
table {
    border: none;
    width: 100%;
}
/* overrides taken from D7 system.css */
ul.primary li a {
    background-color: #DDDDDD;
    border-color: #BBBBBB;
    border-style: solid solid none;
    border-width: 1px;
    height: auto;
    margin-right: 0.5em;
    padding: 0 1em;
    text-decoration: none;
}
ul.primary li.active a {
    background-color: #FFFFFF;
    border-color: #BBBBBB #BBBBBB #FFFFFF;
    border-style: solid;
    border-width: 1px;
}
ul.primary li a:hover {
    background-color: #EEEEEE;
    border-color: #CCCCCC #CCCCCC #EEEEEE;
}
ul.tabs.primary a:focus,
ul.tabs.primary a:hover  { color: #111; text-decoration: none; }
ul.tabs.primary a        { color: #666; display: block; -moz-border-radius: 5px 5px 0 0; }
ul.tabs.primary a.active {
	color: #0077C0; font-weight: normal;
}
ul.links {
    margin: 0;
    padding: 0;
}


#region-menu .region-inner a.active {
	color: #0077C0;
}
#region-menu .region-inner a {
	color:#0077C0;
	font-weight:normal;
}
#header_wrapper a:focus,
#region-footer-first a:focus,
#header_wrapper a:hover,
#region-footer-first a:hover {
	color: #0077C0;
}
h1, h2 {
	letter-spacing:0px;
}
h2#page-title, h1#page-title {
	font-size: 2.6em;
	margin-bottom:0.7em;
}
#region-menu .region-inner li.first {
	padding-left:15px;
}
#region-menu .region-inner li {
	padding-left:0.3em;
}
#zone-content {
  background: #fff;
}
#zone-branding {
  background: url('../images/SCFBanner.png') no-repeat;
  height:140px;
  margin-top: 35px;
}
#zone-branding .site-name-slogan .site-title {
  padding-top: 15px;
  text-indent: -4000em;
}
#zone-branding .site-name-slogan .site-title a {
  display: block;
  height: 100px;
  width: 400px;
}
#region-menu {
  background:#F0F0F0 url('../images/bg_nav.png') repeat-x scroll left bottom;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
#region-menu .region-inner {
  padding: 10px;
}
#block-search-form input.form-text {
	width:200px;
}
#region-footer-first {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
#region-footer-first img {
  margin: 2px 10px 0 0;
}

.node-links ul li a, .comment-links ul li a {
    -moz-border-radius: 0;
    background: none;
    border: none;
    color: #0077C0;
    display: block;
    float: left;
    font: inherit;
    margin: 0;
    outline: 0 none;
    overflow: visible;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    width: auto;
}
#region-menu ul li.leaf                   { list-style-image: none; }


/* =SCF Book
-------------------------------------------------------------- */

.pubgroup #attachments { display: none; }

#edit-pgid-wrapper {
	display:none;
}
.scf_book .content .imgBlock {
	float:right;
	margin-right:5px;
	margin-bottom:5px;
}
.scf_book .content .imgBlock .caption {
	width:400px;
	font-size:0.9em;
}

.scf_book ol {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:decimal;
}
.scf_book ol li {
	list-style-type:decimal;
}
.view-scf-book-list {
    margin-top: 2em;
}
.view-scf-book-list img {
	height:70px;
	width:70px;
	float:left;
	margin-right:5px;
}
.view-scf-book-list .views-field-title {
	font-size:1.2em;
}
.view-scf-book-list td {
	width:33%;
	padding:10px 0px;
}

#breadcrumb a {
color:#666;
margin-left:5px;
padding-left:5px;
border-left: 1px solid #CCC;
}
#breadcrumb a.first {
margin-left:0px;
padding-left:0px;
border-left: 0px;
}
#breadcrumb div {
display: inline;
}

.view-Contents .views-field-field-book-icon-fid img {
border:1px solid #DCDCDC;
}
table.toc td {
vertical-align:top;
border-bottom: 0px;
}
table.toc td.book-icon {
width:75px;
}
/* =Blocks
-------------------------------------------------------------- */

.region-sidebar-second ul {
    margin: 0;
}

.region-sidebar-second .block {
    margin-top: 1em;
    margin-bottom: 2em;
}

body.scf-pub #scf_intro_region .block { margin-bottom: 0; }

body.scf-pub #block-blockclone-1_wrapper {
  background: #111 url('images/bg_scf_intro_01.jpg') no-repeat 50% 50%; }

body #scf_intro {
  position:relative;
  z-index:10;
  background: #666;
  color: white;
  padding: 10px; }

#scf_intro                       { font-weight: bold; margin-bottom:10px; }
#scf_intro p              { margin: 0; font-variant: small-caps; }
#scf_intro a.hi-lite             { margin-top: .5em; font-variant:normal;}
#scf_intro h2                    { font-size: 3em; }

body.scf-pub #scf_intro a:focus,
body.scf-pub #scf_intro a:hover  { color: #0F86E2;  text-decoration: underline;}
body.scf-pub #scf_intro a        { color: #AAA; text-decoration: none; }

/* title of the commentary on front page is too big */
#block-views-stories-block-1 h2#page-title {
  font-size: 1em;
}

